<div class="callout">
    {{#if active}}
    <h5>{{metadata.schema.title}}</h5>
    <input name="pmt-blank-value" id="pmt-blank-value" type="checkbox" /><label for="pmt-blank-value">Blank</label>
    {{!-- Currently we only handle very very simple JSON Schema, increasing
          the complexity of this may be the target of future work --}}
    <div>
        {{#compare metadata.schema.type "===" "string"}}
            <label>Value
                <input id="pmt-new-value" type="text" placeholder="value" value="{{current.value}}"/>
            </label>
        {{else}}
            {{#compare metadata.schema.type "===" "number"}}
                <label>Value
                    <input id="pmt-new-value" type="number" placeholder="multiplier" value="{{current.value}}"/>
                </label>
            {{else}}
                {{#compare metadata.schema.type "===" "integer"}}
                    <label>Value
                        <input id="pmt-new-value" type="number" placeholder="multiplier" value="{{current.value}}"/>
                    </label>
                {{else}}
                    {{#compare metadata.schema.type "===" "boolean"}}
                        <div class="switch">
                            {{#if current.value}}
                                <input checked="true" class="switch-input" id="pmt-new-value" type="checkbox" name="pmt-new-value" />
                            {{else}}
                                <input class="switch-input" id="pmt-new-value" type="checkbox" name="pmt-new-value" />
                            {{/if}}
                            <label class="switch-paddle" for="pmt-new-value">
                                <!-- <span class="show-for-sr">Value 1</span> -->
                                <!-- <span class="switch-active" aria-hidden="true"> -->
                                    <!-- {{{messageHelper "gpii_pmt_booleanSettingOn"}}}</span> -->
                                <!-- <span class="switch-inactive" aria-hidden="true"> -->
                                    <!-- {{{messageHelper "gpii_pmt_booleanSettingOff"}}} -->
                                <!-- </span> -->
                            </label>
                            <span class="pmt-boolean-value">false</span>
                        </div>
                    {{else}}
                        {{! Assuming there is no schema information, or nothing we know how to handle. }}
                        <label>Value
                            <input id="pmt-new-value" type="text" placeholder="value" value="{{current.value}}"/>
                        </label>
                        <p>This setting is either lacking a schema, or using a schema not currently supported,
                        defaulting to type 'string'</p>
                    {{/compare}}
                {{/compare}}
            {{/compare}}
        {{/compare}}
    </div>
    <button type="button" class="pmt-ok-button button primary hollow">OK</button>
    <button type="button" class="pmt-cancel-button button secondary hollow">Cancel</button>
    <p>{{metadata.schema.description}}</p>
    {{#if devModeOn}}
    <p>
        <pre>
{{{jsonify metadata.schema}}}
        </pre>
    </p>
    {{/if}}
    {{else}}
        <h3>Setting Information</h3>
        <p>
            <em>Click a cell and it's information will appear here.</em>
        </p>
    {{/if}}
</div>

