<div class="reveal" id="pmt-dialog-container" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <h2>{{{messageHelper "gpii_pmt_addPrefsSetDialog_header"}}}</h2>
    {{{messageHelper "gpii_pmt_addPrefsSetDialog_inst"}}}
    <form>
    <label>{{{messageHelper "gpii_pmt_addPrefsSetDialog_name"}}}
        <input id="pmt-add-prefsSet-name-input" type="text" placeholder="preferences01" />
    </label>
    {{#if fieldErrors}}
    <div role="alert" class="alert callout" style="display: block;">
        <p><i class="fi-alert"></i>{{fieldErrors}}</p>
    </div>
    {{/if}}

    <label>{{{messageHelper "gpii_pmt_addPrefsSetDialog_copyfrom"}}}
        <select id="pmt-prefsSet-to-copy-select">
            <option value=""><em>{{{messageHelper "gpii_pmt_addPrefsSetDialog_newblankset"}}}</em></option>
            {{#each prefsSetNames}}
            <option value="{{this}}">{{{lookup (lookup ../flatPrefs/contexts this) "name"}}}</option>
            {{/each}}
        </select>
    </label>

    <div class="button-group">
        <button type="submit" class="success button pmt-confirm-dialog-button">{{{messageHelper "gpii_pmt_saveButton"}}}</button>
        <button type="button"  class="delete button pmt-cancel-dialog-button">{{{messageHelper "gpii_pmt_cancelButton"}}}</button>
    </div>
    </form>
</div>

