<div class="button-group">
    {{#compare model.settingsFilter "===" "mysettings" }}
    <button class="pmt-mysettings-button button primary" type="button" >
        {{{messageHelper "gpii_pmt_mineAllSwitch_mySettings"}}} ( {{model.mySettingsCount}} )
    </button>
    <button class="pmt-allsettings-button button secondary hollow" type="button" >
        {{{messageHelper "gpii_pmt_mineAllSwitch_allSettings"}}} ( {{model.allSettingsCount}} )
    </button>
    {{else}}
    <button class="pmt-mysettings-button button secondary hollow" type="button" >
        {{{messageHelper "gpii_pmt_mineAllSwitch_mySettings"}}} ( {{model.mySettingsCount}} )
    </button>
    <button class="pmt-allsettings-button button primary" type="button" >
        {{{messageHelper "gpii_pmt_mineAllSwitch_allSettings"}}} ( {{model.allSettingsCount}} )
    </button>
    {{/compare}}
</div>
