<div class="callout">
    <h5>{{{messageHelper "gpii_pmt_prefsSafeInfo_header"}}}</h5>
    <table class="table">
        <thead>
            <tr>
                <th>{{{messageHelper "gpii_pmt_prefsSafeInfo_itemColHeader"}}}</th>
                <th>{{{messageHelper "gpii_pmt_prefsSafeInfo_valueColHeader"}}}</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>{{{messageHelper "gpii_pmt_prefsSafeInfo_id"}}}</td><td>{{prefsSafe.id}}</td></tr>
            <tr><td>{{{messageHelper "gpii_pmt_prefsSafeInfo_name"}}}</td><td>{{prefsSafe.name}}</td></tr>
            <tr><td>{{{messageHelper "gpii_pmt_prefsSafeInfo_email"}}}</td><td>{{prefsSafe.email}}</td></tr>
            <tr><td>{{{messageHelper "gpii_pmt_prefsSafeInfo_created"}}}</td><td>{{prefsSafe.timestampCreated}}</td></tr>
            <tr><td>{{{messageHelper "gpii_pmt_prefsSafeInfo_updated"}}}</td><td>{{prefsSafe.timestampUpdated}}</td></tr>
        </tbody>
    </table>
</div>
