<div id="contexts-area" class="callout">
    <h5>{{{message "gpii_pmt_contextsHeader"}}}</h5>
    <table class="table-scroll">
        <thead>
            <tr>
                <th>{{{message "gpii_pmt_contextIDHeader"}}}</th>
                <th>{{{message "gpii_pmt_nameHeader"}}}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {{#each contextNames}}
            <tr>
                <td>{{this}}</td>
                <td>{{{lookup (lookup ../flatPrefs/contexts this) "name" }}}</td>
                <td><button data-contextId="{{this}}" type="button" class="pmt-edit-context button">Edit</button></td>
                <td><button data-contextId="{{this}}" type="button" class="pmt-delete-context alert button">Delete</button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
