<div class="callout">
    <h5>Prefs Safe Info</h5>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Value</th>
        </thead>
        <tbody>
                <tr><td>ID</td><td>{{prefsSafe.id}}</td></tr>
                <tr><td>Name</td><td>{{prefsSafe.name}}</td></tr>
                <tr><td>Email</td><td>{{prefsSafe.email}}</td></tr>
                <tr><td>Created</td><td>{{prefsSafe.timestampCreated}}</td></tr>
                <tr><td>Updated</td><td>{{prefsSafe.timestampUpdated}}</td></tr>
        </tbody>
    </table>
</div>
