<div class="callout small">
    <ul>
        <li><a href="#pmt-prefsSafeInfo-anchor">{{{messageHelper "gpii_pmt_toc_overviewInfo"}}}</a></li>
        <li><a href="#pmt-prefsSafeKeysList-anchor">{{{messageHelper "gpii_pmt_toc_keysCredentials"}}}</a></li>
        <li><a href="#pmt-prefSetsList-anchor">{{{messageHelper "gpii_pmt_toc_prefsSets"}}}</a></li>
        <li><a href="#pmt-genericSettingsTable-anchor">{{{messageHelper "gpii_pmt_toc_genericSettings"}}}</a></li>
        {{#each renderList}}
            <li>
                <a href="#{{this.appId}}">{{this.name}}</a>
            </li>
        {{/each}}
    </ul>
</div>
