<div class="pmt-single-product-area callout" data-appId="{{options.appId}}">
    <div class="grid-x expanded">
        <div class="medium-6 cell">
            <h2 id="a-{{options.appId}}">
                {{#if options.solution.name}}
                    {{options.solution.name}}
                {{else}}
                    {{options.appId}}
                {{/if}}
                <a id="{{options.appId}}" href="#top"><small>top</small></a>
            </h2>
            <ul class="no-bullet">
                <li>AppID: <code>{{options.appId}}</code></li>
            </ul>
        </div>
        <div class="medium-6 cell">
            <div>
                <div class="float-right">
                    <a class="pmt-remove-product"><i class="fi-trash large"></i></a>
                </div>
                <div id="pmt-mineAllSwitch-container">
                    <div id="pmt-mineAllSwitch-area">
                </div>
                <div id="pmt-filter-container">
                    <div id="pmt-common-filter-area">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="scroll">
        <thead>
            <tr>
                <th class="pmt-settingstable-name">Setting</th>
                <th class="pmt-settingstable-value">Product Default</th>
                {{#each model.contextNames}}
                    <th class="pmt-settingstable-value">
                        {{{message "gpii_pmt_contextNameLabel" (lookup (lookup ../model/flatPrefs/contexts this) "name") }}}</th>
                    <!-- if psp options -->
                    <th>PSP
                    </th>
                    <th>MEM
                    </th>
                    <!-- end if psp options -->
                {{/each}}
                <th><a class="hollow button small pmt-add-context-button">
                   {{{message "gpii_pmt_addContextButton"}}}
                </a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{{message "gpii_pmt_settingsTable_includeApplication" }}}</td>
                <td><!-- Space for product default column --></td>
                {{#each model.contextNames}}
                    <td>
                        <div class="switch">
                            {{#if (lookup (lookup (lookup ../model.flatPrefs.contexts this) "preferences") ../options.appUri) }}
                                <input checked="true" class="pmt-enabled-boolean switch-input" id="enabled-{{this}}-{{../options.appId}}" type="checkbox" name="enabled-{{this}}-{{../options.appId}}" data-context="{{this}}" data-product="{{../options.appUri}}" />
                            {{else}}
                                <input class="pmt-enabled-boolean switch-input" id="enabled-{{this}}-{{../options.appId}}" type="checkbox" name="enabled-{{this}}-{{../options.appId}}" data-context="{{this}}" data-product="{{../options.appUri}}" />
                            {{/if}}
                            <label class="switch-paddle" for="enabled-{{this}}-{{../options.appId}}">
                                <span class="show-for-sr">Enable/Disable Solution</span>
                                <span class="switch-active" aria-hidden="true">Yes</span>
                                <span class="switch-inactive" aria-hidden="true">No</span>
                            </label>
                        </div>
                    </td>
                {{/each}}
            </tr>
            {{#with options.solution}}
                {{#each this.settingsHandlers}}
                    {{#each this.supportedSettings}}
                    <tr class="pmt-settings-table-row" data-term="{{@key}}">
                        <td id="a-{{../../../options.appId}}-{{@key}}">{{this.schema.title}}</td>
                        <td><!-- Space for product default column --></td>
                        {{#each ../../../model.contextNames}}
                        <td class="pmt-value-display" data-name="{{../schema.title}}" data-context="{{this}}" data-product="{{../../../../options.appUri}}" data-term="{{@../key}}"
                            {{#compare (lookupProductPrefValue this ../../../../options.appUri @../key) "===" undefined}}
                                data-value=""><span> -- </span>
                            {{else}}
                                data-value="{{lookupProductPrefValue this ../../../../options.appUri @../key}}"><span>{{lookupProductPrefValue this ../../../../options.appUri @../key}}</span>
                            {{/compare}}
                        </td>
                        <!-- if psp options -->
                        <td>
                            <input data-context="{{this}}" data-product="{{../../../../options.appUri}}" data-term="{{@../key}}" class="pmt-psp-show-checkbox" type="checkbox"
                                {{#compare (lookupPspMetadata 'show' this @../key ../../../../options.appUri) "===" true}}
                                    checked="true"
                                {{/compare}}
                                />
                        </td>
                        <td>
                            <input data-context="{{this}}" data-product="{{../../../../options.appUri}}" data-term="{{@../key}}" class="pmt-psp-memory-checkbox" type="checkbox"
                                {{#compare (lookupPspMetadata 'memory' this @../key ../../../../options.appUri) "===" true}}
                                    checked="true"
                                {{/compare}}
                                />
                        </td>
                        <!-- end if psp options -->
                        {{/each}}
                    </tr>
                    {{/each}}
                {{/each}}
            {{/with}}
            {{! TODO This area needs to be fixed. Find a component level way to pull out all the settings keys across contexts
                for a user, similar to gpii.devpmt.npsetApplications, but just on a per product component level. }}
            {{#each options.solution.settingKeys}}
                {{#unless (checkForSupportedSetting ../options.solution this)}}
                <tr>
                    <td>!! {{this}}</td>
                    {{#each ../contextNames}}
                        <td class="pmt-value-display" data-name="{{../schema.title}}" data-context="{{this}}" data-product="{{../../uri}}" data-term="{{../this}}"
                            {{#with (lookup (lookup (lookup (lookup ../../flatPrefs.contexts this) "preferences") ../../this.uri) ../this) }}
                            data-value="{{this}}"><span>{{this}}</span>
                            {{else}}
                            data-value=""><span> -- </span>
                            {{/with}}
                        </td>
                    {{/each}}
                    <td></td>
                </tr>
                {{/unless}}
            {{/each}}
        </tbody>
    </table>
</div>
