<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li>
                <a href="/"><i class="pmt-topnav-icon fi-home"></i></a>
            </li>
            <li>
                <h2 id="top">Preference Set: {{npsetName}}</h2>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>
                {{#if devModeOn}}
                    <a class="pmt-topnav-icon-active" id="pmt-topbar-devmode-button"><i class="fi-wrench"></i></a>
                {{else}}
                    <a class="pmt-topnav-icon" id="pmt-topbar-devmode-button"><i class="fi-wrench"></i></a>
                {{/if}}
            </li>
            <li>
                {{#if unsavedChangesExist }}
                    <a class="pmt-topnav-icon-active" id="pmt-topbar-save-button"><i class="fi-save large"></i></a>
                {{else}}
                    <a class="pmt-topnav-icon" id="pmt-topbar-save-button"><i class="fi-save large"></i></a>
                {{/if}}
            </li>
            <li>
                <form action="/add-prefset" method="POST">
                    <div class="input-group">
                        <input class="input-group-field" name="prefset-name" type="text" placeholder="Prefset Name" />
                        <div class="input-group-button">
                            <input type="submit" href="#" class="button" value="Add/Edit NP Set" />
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>

<!--
    Master Render Location for Modal Dialogs.
-->
<div id="modal-dialog-container">
    <div id="modal-dialog-render">
    </div>
</div>

{{!-- We are not going to render this for now, so there is no confusion that we are collecting and
      displaying this type of information about clients. May re-enable this in a strict developer
      mode.
{{#if docs}}
<div class="row expanded">
    <div class="medium-7 columns">
        <div id="docs">
            <a href="#docs"></a>{{{md docs}}}
        </div>
    </div>
</div>
{{/if}}
--}}

<br/>
<div class="row expanded" id="all-prefs">
    <div class="medium-2 columns">
        <div id="productList-container">
            <div id="productList-widget"></div>
        </div>
    </div>
    <div id="settings-divs" class="medium-7 columns">
        <div id="genericSettingsTable-container">
            <div id="genericSettingsTable-widget">
            </div>
        </div>
        {{#each npsetApplications}} {{! <-- Is npsetApplications actually dynamic? }}
            <div id="test-comp-{{this.appId}}">
                <div class="settings-table-div"></div>
            </div>

        {{/each}} {{! end npsetApplications }}

        {{#if devModeOn}}
        <hr/>
        <h3>Raw Transformed Flat Preferences <a id="rawTransformedFlatPrefs" href="#top"><small>top</small></a></h3>
        <pre>
            {{{jsonify flatPrefs}}}
        </pre>
        {{/if}}
    </div>
    <div class="medium-3 columns right" data-sticky-container>
        <div class="sticky" data-sticky data-top-anchor="all-prefs">
            <div id="prefs-adjuster-container">
                <div id="prefs-adjuster">
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
    </div>
</div>
<script>
    $(document).foundation();
</script>
