        <div class="pmt-generic-prefs-area callout" data-appId="{{appId}}">
            <div class="grid-x expanded">
                <div class="medium-6 cell">
                    <h2 id="title">
                        Generic Preference Settings <a id="generic-prefs" href="#top"><small>top</small></a>
                    </h2>
                    <p>
                    Generic preference settings are universal settings stored in GPII that are
                    not particular to specific products. They can potentially be applied to a wide
                    range of products automatically.
                    </p>
                </div>
                <div class="medium-6 cell">
                    <div id="pmt-settings-filters">
                        <div id="mineAllSwitch-container">
                            <div id="mineAllSwitch-area">
                        </div>
                        <div id="filter-container">
                            <div id="common-filter-area">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <table class="scroll">
            <thead>
                <tr>
                    <th class="pmt-settingstable-name">Setting</th>
                    {{#each contextNames}}
                    <th class="pmt-settingstable-value">
                        {{{message "devptt.contextNameLabel" (lookup (lookup ../flatPrefs/contexts this) "name") }}}
                    </th>
                    {{/each}}
                    <th><a class="hollow button small pmt-add-context-button">
                        {{{message "devptt.addContextButton"}}}
                    </a></th>
                </tr>
            </thead>
            <tbody>
                {{#each commonTermsSorted}}
                    <tr class="pmt-commonterm-row" data-term="{{this.id}}">
                        <td id="a-{{this.id}}"><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{this.schema.title}}&nbsp;{{this.schema.description}}&nbsp;{{jsonify this.schema}}"><i class="fi-info"></i></span> <span>{{this.schema.title}}</span></td>
                        {{#each ../contextNames}}
                        <td class="pmt-value-display" data-name="{{../schema.title}}" data-context="{{this}}" data-term="{{../id}}"
                            {{#compare (lookupGenericPrefValue this ../id) "===" undefined}}
                                data-value=""><span>--</span>
                            {{else}}
                                data-value="{{lookupGenericPrefValue this ../id}}"><span>{{lookupGenericPrefValue this ../id}}</span>
                            {{/compare}}
                        </td>
                        {{/each}}
                        <td></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        </div>

