<div class="reveal" id="pmt-dialog-container" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <h2>{{{message "gpii_pmt_addContextDialogHeader"}}}</h2>
    {{{message "gpii_pmt_addContextDialogInst"}}}
    <form>
    <label>Name
        <input id="pmt-add-context-name-input" type="text" placeholder="preferences01" />
    </label>
    {{#if fieldErrors}}
    <div role="alert" class="alert callout" style="display: block;">
        <p><i class="fi-alert"></i>{{fieldErrors}}</p>
    </div>
    {{/if}}

    <label>Copy initial settings from:
        <select id="pmt-context-to-copy-select">
            <option value=""><em>New Blank Set</em></option>
            {{#each contextNames}}
            <option value="{{this}}">{{{lookup (lookup ../flatPrefs/contexts this) "name"}}}</option>
            {{/each}}
        </select>
    </label>

    <div class="button-group">
        <button type="submit" class="success button pmt-confirm-dialog-button">Save</button>
        <button type="button"  class="delete button pmt-cancel-dialog-button">Cancel</button>
    </div>
    </form>
</div>

